html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 1000px) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 800px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 43.75%;
  }

  @media only screen and (max-width: 500px) {
    font-size: 37.5%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}
