.mb-li{ margin-bottom:1rem !important; }
.mb-sm{ margin-bottom:3rem !important; }
.mb-md{ margin-bottom:5rem !important; }
.mb-lg{ margin-bottom:7rem !important; }
.mb-hg{ margin-bottom:11rem !important; }

.txt-white { color:$color-white }
.txt-black { color:$color-black }