$text-gray: #3f4954;

$text-light: #686666da;

$bg-color: #0f0f0f;

$color-white: #ffffff;

$color-black: #000;

$color-midnight: #104f55;

$color-sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

$font-abel: 'Abel', cursive;

$font-anton: 'Anton', cursive;

$font-josefin: 'Josefin', cursive;

$font-lexend: 'Lexend', cursive;

$font-livvic: 'Livvic', cursive;
