.header {
  height: 100vh;
  background: url("../../img/Background-image.png");
  background-repeat: no-repeat;
  position: relative;

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    text-align: center;
  }
}
